
/* containers */

body {
    font-family: "Source Sans 3", sans-serif;
    width: 375px;
    margin: auto;
    border-radius: 10px;
    position: inherit;
    margin-top: 68px;
}


header{
    height: 67px;
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid #C6C6C6;
    top: 0;
    position: fixed;
    overflow: visible;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

main{
    display: flex;
    flex-direction: column;
}

footer{
    height: 28px;
    background-color: #F5F5F5;
}

.user-info{
    display: inline-flex;
    flex-direction: row;
    justify-content: baseline;
    padding: 10px;
}

.interaction-section {
    padding: 10px 16px 19px 10px;
}

.comment{
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.likes{
    display: flex;
    flex-direction: row;
}

/* images */

/* header/account images */

.logo,
.avatar{
    padding: 16px;
}

.logo{
    width: 127px;
}

.avatar{
    width: 37px;
    border-radius: 50%;
}

/* user-info images */
.post-avatar{
    padding-right: 5px;
    width: 34px;
    border-radius: 50%;
}

.post-img{
    width: 100%;
}


.icon{
    width: 23.3px;
    padding-right: 20px;
}

h1{
    font-size: 13px;
    margin: 0;

}

h2{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

p{
    margin: 0px;
    padding-top: 12px;
    padding-right: 5px;
}

.post-likes,
.user-name,h1 {
    font-weight: 900;
}



.border {
    border: 1px dotted red;
}

